// font

@font-face {
    font-family: 'Ubunutu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Ubuntu Regular'), 
         local('Ubuntu-Regular'), 
         url('../font/ubuntu.woff2') format('woff2'),
         url('../font/ubuntu.woff') format('woff'),
         url('../font/ubuntu.eot') format('embedded-opentype'),
         url('../font/ubuntu.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



// custom scrollbar in webkit browsers

::-webkit-scrollbar {
    width: 10px; height: 10px;
}

::-webkit-scrollbar-track {
    background: #ededed;
}

::-webkit-scrollbar-thumb {
    background: #909090;
    @include border-radius(5px);
}



// simple animations

@include keyframes(fade-in) {
    0% {opacity: 0;}
}

@include keyframes(fade-out) {
    100% {opacity: 0;}
}

@include keyframes(hidden) {
    0%, 100% {visibility: hidden; pointer-events: none; opacity: 0;}
}



// general elements

*,
*:after,
*:before {
    @include box-sizing(border-box);
}

html {
    -ms-text-size-adjust:           none;
    -webkit-text-size-adjust:       none;                   // prevent resizing text to fit
    -webkit-touch-callout:          none;                   // safari: prevent callout to copy image, etc when tap hold
    -webkit-tap-highlight-color:    transparent;            // prevent tap highlight color / shadow
    -webkit-tap-highlight-color:    rgba(0,0,0,0);
    -moz-osx-font-smoothing:        auto;                   // firefox: font smoothing 
    -webkit-font-smoothing:         subpixel-antialiased;   // chrome, opera, safari: font smoothing
    font-smooth:                    always;
    scroll-behavior:                smooth;                 // prevent instant scroll, enable smooth movement
    
    min-height: 100%;
    background: #ffffff;
    font-family: 'Ubunutu', 'Arial', sans-serif; color: #484848;
    @include user-select(none);
}

body {
    position: relative;
    min-height: 100%; margin: 0 auto;
    overflow-x: hidden;
    font-size: 0;
}

main {
    max-width: 1100px; width: 100%; margin: 0 auto; padding: 0 20px 20px 20px;
}

nav {
    position: fixed; top: 0; left: 0; z-index: 9998;
    width: 100%; height: 100%;
    overflow: hidden;
    @include transition(all 0s);
    
    .overlay {
        position: absolute; top: 0; left: 0; z-index: 1;
        width: 100%; height: 100%;
        background-color: #ffffff; opacity: .65;
        @include transition(opacity .7s);
    }
    
    .container {
        position: absolute; top: 50%; left: 50%; z-index: 2;
        max-width: 400px; width: 100%; max-height: 520px; height: 100%; padding: 15px;
        @include transform(translate(-50%, -50%));
        
        @media (max-width: 570px), (max-height: 700px) {
            max-width: none; max-height: none;
            padding: 6px;
        }
    }
    
    .content {
        position: relative; z-index: 4;
        width: 100%; height: 100%;
        background-color: white; opacity: 1;
        text-align: center;
        @include transition(.2s);
        
        .center {
            display: table; position: relative; top: 50%; left: 50%;
            @include transform(translate(-50%, -50%));
        }
        
        a {
            display: inline-block; position: relative;
            margin: 5px; padding: 16px 26px;
            overflow: hidden;
            color: white; text-decoration: none; font-size: 28px; line-height: 1em; font-weight: 700;
            
            &:before {
                content: '';
                display: block; position: absolute; top: 0; left: 0; z-index: -1;
                width: 100%; height: 100%;
                background-color: white;
                @include transition(.3s);
            }
            
            &:hover:before {
                @include transform(translate(100%));
            }
            
            &.l1:before {background-color: $bauhaus-red;}
            &.l2:before {background-color: $bauhaus-blue;}
            &.l3:before {background-color: $bauhaus-orange;}
            &.l1:hover {color: $bauhaus-red;}
            &.l2:hover {color: $bauhaus-blue;}
            &.l3:hover {color: $bauhaus-orange;}
        }
    }
            
    &:not(.hidden) .content a {
        &:before    {@include animation(nav-a-appear .2s .35s, hidden .35s);}
        &.l2:before {@include animation(nav-a-appear .3s .5s, hidden .5s);}
        &.l3:before {@include animation(nav-a-appear .4s .65s, hidden .65s);}
    }
    
    .rect {
        position: absolute; z-index: 3;
        @include transition(.4s);
        
        &.red       {background-color: $bauhaus-red;}
        &.blue      {background-color: $bauhaus-blue;}
        &.orange    {background-color: $bauhaus-orange;}
        &.green     {background-color: $bauhaus-green;}
        
        &.r1, &.r3, &.r5, &.r6, &.r8 {
            @include transition-delay(.15s);
        }
        
        &.r2, &.r4, &.r7, &.r9 {
            @include transition-delay(.25s);
        }
        
        &.r1 {
            top: 0; left: 0;
            width: 24%; height: 28%;
        }
        
        &.r2 {
            top: 28%; left: 0;
            width: 70%; height: 12%;
        }
        
        &.r3 {
            top: 0; left: 24%;
            width: 46%; height: 28%;
        }
        
        &.r4 {
            top: 0; left: 70%;
            width: 30%; height: 17%;
        }
        
        &.r5 {
            top: 17%; left: 70%;
            width: 30%; height: 23%;
        }
        
        &.r6 {
            top: 40%; left: 0;
            width: 70%; height: 40%;
        }
        
        &.r7 {
            top: 80%; left: 0;
            width: 15%; height: 20%;
        }
        
        &.r8 {
            top: 40%; left: 70%;
            width: 30%; height: 40%;
        }
        
        &.r9 {
            top: 80%; left: 15%;
            width: 85%; height: 20%;
        }
    }
    
    &.hidden {
        top: -5px;
        width: 0; height: 0;
        visibility: hidden; opacity: 0;
        @include transition(all 0s .3s);
        
        .overlay {
            opacity: 0;
        }
        
        .content {
            opacity: 0;
        }
    
        .rect {
            opacity: 0;
            @include transition(all .25s);
            
            &.r1, &.r2          {@include transform(translate(-14%, -14%) scale(.85));}
            &.r3, &.r4, &.r5    {@include transform(translate(14%, -14%)  scale(.85));}
            &.r6, &.r7          {@include transform(translate(-14%, 14%)  scale(.85));}
            &.r8, &.r9          {@include transform(translate(14%, 14%)   scale(.85));}
        }
    }
}

@include keyframes(nav-a-appear) {
    0% {width: 0;}
}

#nav-btn {
    position: fixed; top: 0; right: 0; z-index: 9999;
    width: 70px; height: 70px; padding: 15px;
    @include transition(.1s);
    
    &:active b {
        @include transform(scale(.9));
        @include transition(.1s);
    }
    
    b {
        display: block; position: relative;
        width: 100%; height: 100%;
    }
    
    i {
        position: absolute; left: -20%;
        width: 120%; height: 13%; // 16% gaps between i's
        @include transition(all .2s, width .2s .2s, top .2s .2s, left .2s .2s);
        
        &.i1 {
            top: 0; z-index: 3;
            background-color: $bauhaus-red;
        }
        &.i2 {
            top: 29%; z-index: 1;
            background-color: $bauhaus-blue;
        }
        &.i3 {
            top: 58%; z-index: 2;
            background-color: $bauhaus-orange;
        }
        &.i4 {
            top: 87%; z-index: 4;
            background-color: $bauhaus-green;
        }
    }
    
    &.nav-visible {
        
        i {
            top: 43.5%;
            width: 50%;
            @include transition(all .3s .25s, width .2s, top .2s, left .2s);
            
            &.i1,
            &.i3 {
                left: 0;
                @include transform-origin(right center);
            }
            
            &.i2,
            &.i4 {
                left: 50%;
                @include transform-origin(left center);
            }
        
            &.i1 {@include transform(rotate(45deg));}
            &.i2 {@include transform(rotate(-45deg));}
            &.i3 {@include transform(rotate(-45deg));}
            &.i4 {@include transform(rotate(45deg));}
            
        }
        
    }
}