// hidden windows, can be triggered to be shown

.hidden-window {
    position: fixed; top: 0; left: 0; z-index: 9998;
    width: 100%; height: 100%;
    overflow: hidden;

    > * {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        @include transition(.4s);

        &.red {
            z-index: 1;
            background-color: $bauhaus-red;
        }

        &.blue {
            z-index: 2;
            background-color: $bauhaus-blue;
            @include transition-delay(.06s);
        }

        &.orange {
            z-index: 3;
            background-color: $bauhaus-orange;
            @include transition-delay(.11s);
        }

        &.green {
            z-index: 4;
            background-color: $bauhaus-green;
            @include transition-delay(.15s);
        }

        &.content {
            z-index: 5;
            background-color: white;
            @include transition-delay(.18s);
            
            .container {
                position: absolute; top: 0; left: 50%;
                max-width: $max-width; width: 100%; height: 100%;
                @include transform(translate(-50%,0));
            }

            .cross {
                position: absolute; top: 15px; right: 15px; z-index: 2;
            }

            .center {
                display: inline-block; position: absolute; top: 50%; left: 50%; z-index: 1;
                max-width: 300px; width: 100%; padding: 15px;
                text-align: center;
                @include transform(translate(-50%,-50%));
            }
        }
    }

    &.hidden {
        top: -5px;
        width: 1px; height: 1px;
        @include transition(all 0s .7s);

        > * {
            @include transform(translate(0, -100%));

            &.red       {@include transition-delay(.05s);}
            &.blue      {@include transition-delay(.025s);}
            &.orange    {@include transition-delay(.0125s);}
            &.green     {@include transition-delay(.00625s);}
            &.content   {@include transition-delay(0s);}
        }
    }
    
}

.cross {
    position: relative; width: 44px; height: 44px;
    @include transition(.1s);
    
    &:before, &:after {
        content: '';
        position: absolute; top: 44%; left: 0;
        width: 100%; height: 12%;
        background-color: #6d6d6d;
        @include border-radius(5px);
        @include transition(.2s);
    }
    
    &:before {
        @include transform(rotate(45deg));
    }
    
    &:after {
        @include transform(rotate(-45deg));
    }
    
    &:hover {
        &:before {
            @include transform(rotate(40deg));
        }
        &:after {
            @include transform(rotate(-40deg));
        }
    }
    
    &:active {
        &:before, &:after {
            left: 10%;
            width: 80%;
        }
    }
}





// navigation bar

#nav {
    position: fixed; top: 0; right: 0; z-index: 9001;
    width: 100%; height: 71px;
    background-color: white; border: solid #f2f2f2; border-width: 0 0 1px 0;
    text-align: center;
    
    .bar {
        display: inline-block;
        max-width: $max-width; width: 100%; height: 100%; padding: 15px;
        text-align: right;
    }
    
    // reset the hidden window styles on desktop nav,
    // so that the links of the navigation can be displayed
    @include on-desktop {
        
        .hidden-window {
            display: inline-block; position: relative; top: auto; float: left;
            width: auto; height: auto;
        }
        
        .content, .center {
            @include transform(none);
        }
        
        .center {
            position: relative; top: auto; left: auto;
            max-width: none; width: auto; padding: 0;
            text-align: inherit;
        }
    }

    .content {
        position: relative;
        
        .container {
            position: static;
            width: auto; height: auto;
            @include transform(none);
        }
        
        a {
            display: inline-block;
            margin: 5px; padding: 16px 26px;
            overflow: hidden;
            color: white; text-decoration: none; font-size: 28px; line-height: 1em; font-weight: 700;
            @include border-radius(4px);
            
            &.a1 {background-color: $bauhaus-red;}
            &.a2 {background-color: $bauhaus-blue;}
            &.a3 {background-color: $bauhaus-green;}
            &.a4 {background-color: $bauhaus-orange;}
        }
        
        @include on-desktop {
            
            br {
                display: none;
            }
            
            a {
                position: relative; z-index: 9999;
                margin: 0 2px 0 0; padding: 13px 13px;
                font-size: 20px;
                
                &.a1.active, &.a1:hover {color: $bauhaus-red;}
                &.a2.active, &.a2:hover {color: $bauhaus-blue;}
                &.a3.active, &.a3:hover {color: $bauhaus-green;}
                &.a4.active, &.a4:hover {color: $bauhaus-orange;}
                
                &.a1, &.a2, &.a3, &.a4 {
                    background: none;
                    color: #676d86;
                
                    &:before, 
                    &:hover:before {
                        @include opacity(0);
                        @include transform(none);
                    }
                }
            }
            
            $a1-width: 84.36px;
            $a2-width: 103.38px;
            $a3-width: 150.18px;
            $a4-width: 99.98px;
            $a-margin-right: 2px;
            
            .hover-bg {
                position: absolute; top: 0; left: 0; z-index: 1;
                height: 46px;
                border: 2px solid white;
                @include border-radius(4px);
                @include transition(.2s);
            }
            
            a.a1.active ~ .hover-bg {
                width: $a1-width;
                border-color: $bauhaus-red;
            }
            
            a.a2.active ~ .hover-bg {
                left: $a1-width + $a-margin-right;
                width: $a2-width;
                border-color: $bauhaus-blue;
            }
            
            a.a3.active ~ .hover-bg {
                left: $a1-width + $a2-width + (2 * $a-margin-right);
                width: $a3-width;
                border-color: $bauhaus-green;
            }
            
            a.a4.active ~ .hover-bg {
                left: $a1-width + $a2-width + $a3-width + (3 * $a-margin-right);
                width: $a4-width;
                border-color: $bauhaus-orange;
            }
            
            a.a1:hover ~ .hover-bg {
                left: 0;
                width: $a1-width;
                border-color: $bauhaus-red;
            }
            
            a.a2:hover ~ .hover-bg {
                left: $a1-width + $a-margin-right;
                width: $a2-width;
                border-color: $bauhaus-blue;
            }
            
            a.a3:hover ~ .hover-bg {
                left: $a1-width + $a2-width + (2 * $a-margin-right);
                width: $a3-width;
                border-color: $bauhaus-green;
            }
            
            a.a4:hover ~ .hover-bg {
                left: $a1-width + $a2-width + $a3-width + (3 * $a-margin-right);
                width: $a4-width;
                border-color: $bauhaus-orange;
            }
        }
    }
    
}

#language-btn {
    display: inline-block; position: relative; z-index: 9997;
    width: 52px; height: 32px; margin: 4px 0;

    @include on-mobile {
        margin-right: 15px;
    }

    &:hover b {
        @include opacity(.8);
    }

    &:active b {
        @include transform(scale(.9));
    }
    
    b {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        border: 1px solid #bebebe; overflow: hidden;
        background-repeat: no-repeat;
        @include background-size(100% 100%);
        @include border-radius(4px);
        @include transition(.2s);

        html[lang=en] & {@extend %flag-usa;}
        html[lang=de] & {@extend %flag-germany;}
    }
}

#hamburger-btn {
    display: inline-block; position: relative; z-index: 9999;
    width: 40px; height: 40px;
    @include transition(.1s);
    
    @include on-desktop{display: none;}
    
    &:hover {
        @include opacity(.8);
    }
    
    b {
        display: block; position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
    }
    
    &:active b {
        @include transform(scale(.9));
        @include transition(.1s);
    }
    
    i {
        position: absolute; left: 0; z-index: 1;
        width: 100%; height: 16%; // three 12% gaps between i's
        @include border-radius(3px);
        @include transition(all .2s, width .2s .2s, top .2s .2s, left .2s .2s);
        
        &.i1 {
            top: 0; z-index: 2;
            background-color: $bauhaus-red;
        }
        &.i2 {
            top: 12% + 16%;
            background-color: $bauhaus-blue;
        }
        &.i3 {
            top: (12% + 16%) * 2;
            background-color: $bauhaus-orange;
        }
        &.i4 {
            top: (12% + 16%) * 3; z-index: 3;
            background-color: $bauhaus-green;
        }
    }
    
    &.nav-visible {
        
        i {
            top: 43.5%;
            width: 50%;
            @include transition(all .3s .25s, width .2s, top .2s, left .2s);
            
            &.i1, &.i3 {
                left: 0;
                @include transform-origin(right center);
            }
            
            &.i2, &.i4 {
                left: 50%;
                @include transform-origin(left center);
            }
        
            &.i1 {@include transform(rotate(45deg));}
            &.i2 {@include transform(rotate(-45deg));}
            &.i3 {@include transform(rotate(-45deg));}
            &.i4 {
                // stretched longer and translated to center of cross, 
                // to hide small empty spot in middle of cross
                width: 53%;
                @include transform(rotate(45deg) translate(-3%,0));
            }
            
        }
        
    }
}





#language-menu {
    z-index: 10000;
    
    .center {
        max-width: 400px;
    }
    
    .lang-select-btn {
        display: inline-block; position: relative;
        width: 100%; margin: 6px 0; padding: 25px 25px 25px 128px;
        color: #747474; font-size: 30px; line-height: 1em; text-decoration: none;
        @include text-wrap;
        @include border-radius(5px);
        @include transition(.2s);

        &.current {
            background: #f8f8f8; cursor: auto;
        }

        &:not(.current):hover {
            background-color: rgba(0,0,0,.1);
        }

        &:before {
            content: '';
            display: block; position: absolute; top: 16px; left: 25px;
            width: 80px; height: 48px;
            border: 1px solid #bebebe; background-repeat: no-repeat;
            @include background-size(100% 100%);
            @include border-radius(3px);
        }

        &.en:before {@extend %flag-usa;}
        &.de:before {@extend %flag-germany;}
    }
        
    @include on-phone {
        
        .center {
            max-width: 290px;
        }
        
        .content a {
            padding: 15px 15px 15px 90px;
            font-size: 24px;

            &:before {
                top: 9px; left: 15px;
                width: 60px; height: 36px;
            }
        }
    }
}





#to-top {
    position: fixed; bottom: 15px; right: 15px; z-index: 9000;
    width: 48px; height: 48px;
    
    b {
        display: block; position: absolute; top: 22%; left: 22%; z-index: 2;
        width: 56%; height: 56%;
        @include transition(.2s);
    }
    
    i {
        position: absolute; top: 0; left: 42.5%; z-index: 1;
        width: 15%;
        background-color: white;
        @include border-radius(4px);
        
        &.bar {
            height: 100%;
        }
        
        &.head1, &.head2 {
            height: 60%;
            @include transform-origin(top center);
            @include transition(.2s);
        }
        
        &.head1 {@include transform(rotate(-45deg) translate(0,-8%));}
        &.head2 {@include transform(rotate(45deg) translate(0,-8%));}
    }
    
    // background
    &:after {
        content: '';
        display: block; position: absolute; top: 0; left: 0; z-index: 1;
        width: 100%; height: 100%;
        background-color: $bauhaus-red;
        @include border-radius(4px);
        @include transition(.15s);
    }
    
    &:hover {
        
        b {
            top: 12%;
        }
        
        &:after {
            top: -12%;
        }
        
        i {
            &.head1 {@include transform(rotate(-36deg) translate(0,-10%));}
            &.head2 {@include transform(rotate(36deg) translate(0,-10%));}
        }
    }
    
    &:active {
        
        b {
            @include transform(scale(.8));
        }
    }
}