.project {
    display: inline-block; position: relative;
    overflow: hidden;
    border: 1px solid #efefef;
    @include border-radius(5px);
    @include background-size(cover);
    
    @mixin project-size($parts) {
        
        @if $parts > 1 {
            $size: 96% / $parts;
            width: $size; margin: 4% / ($parts * 2); padding: 0 0 ($size * 0.8) 0;
        }
        @else {
            width: 100%; margin: 2% 0; padding: 0 0 80% 0;
        }
        
    }
    
    // 3 beside each other
    width: 30%; margin: 1.666%; padding: 0 0 30% 0;
    @include project-size(3);
    
    // 2 beside each other
    @include on-mobile {
        width: 46%; margin: 2%; padding: 0 0 46% 0;
        @include project-size(2);
    }
    
    // all below one another
    @media (max-width: 450px) {
        @include project-size(1);
    }
    
    &.time-visualizer   {background-image: url(../img/project-time-visualizer.png);}
    &.tensquared        {background-image: url(../img/project-tensquared.png);}
    &.raytracer         {background-image: url(../img/project-raytracer.png);}
    
    > * {
        position: absolute;
    }
    
    .desc {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        @include opacity(0);
        @include transform(scale(1.2));
        @include transition(.3s);
        
        &:before {
            content: '';
            position: absolute; top: 0; left: 0; z-index: -1;
            width: 100%; height: 100%;
            background: currentColor;
            @include opacity(.9);
        }
        
        &.red:before       {background: $bauhaus-red;}
        &.red .center a    {color:      $bauhaus-red;}
        &.blue:before      {background: $bauhaus-blue;}
        &.blue .center a   {color:      $bauhaus-blue;}
        &.orange:before    {background: $bauhaus-orange;}
        &.orange .center a {color:      $bauhaus-orange;}
        &.green:before     {background: $bauhaus-green;}
        &.green .center a  {color:      $bauhaus-green;}
        
        .center {
            display: inline-block; position: absolute; top: 50%; left: 0;
            width: 100%; padding: 20px;
            @include transform(translate(0,-50%));
            
            h3, p {
                text-shadow: 1px 1px rgba(0,0,0,.2);
                color: white;
            }
    
            h3 {
                display: inline-block;
                margin: 0;
                font-size: 26px; line-height: 1em; font-weight: 700;
                @include text-wrap;
            }

            p {
                margin: 10px 0;
            }
            
            a {
                display: inline-block;
                margin: 5px 5px 0 0; padding: 8px;
                background: rgba(255, 255, 255, 0.9);
                font-size: 15px; line-height: 1em; text-decoration: none;
                @include border-radius(5px);
                @include transition(.2s);
                
                &:hover {
                    background: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
    
    &:hover {
        
        .desc {
            @include opacity(1);
            @include transform(scale(1));
        }
    }
}