/* GENERIC */

main {
    text-align: center;
    
    // blur, if mobile navigation is opened
    .mobile-nav-open & {
        
        @include ON_MOBILE {
            @include filter(blur(3px));
        }
    }
}

section {
    max-width: $max-width; width: 100%; margin: 0 auto; padding: 0 20px;
    text-align: left;
    
    &.content-section {
        padding: 90px 20px;
    }
    
    
    
    // fade in animations on page load
    &#about {
        .greet {
            @include animation(fade-in-from-top 1s .5s, hidden .5s);
        }
        .name {
            @include animation(fade-in-from-top 1.2s 1s, hidden 1s);
        }
        .desc {
            @include animation(fade-in-from-top 1.4s 1.5s, hidden 1.5s);
        }
        
    }
    
    // fade in animations when scrolling down
    .jsOn & {
        
        &#projects, 
        &#technologies, 
        &#contact {
            @include animation(hidden 1s infinite);

            &.appear {
                 @include animation(fade-in-from-top 1s);
            }
        } 
    }
        
    @include ON_REDUCED_MOTION {
        &#about *,
        &#projects, 
        &#technologies, 
        &#contact {
            @include animation(none !important);
        }
    }
}



/* INTRO / ABOUT SECTION */

#about {
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -moz-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -moz-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    max-width: none; width: auto; min-height: 100vh; padding: 100px 0 30px 0;
    
    .center {
        display: inline-block;
        font-size: 100px; font-size: 7.5vw;
    
        @media (min-width: 1531px) {
            font-size: 115px;
        }
        
        > * {
            display: inline-block;
            line-height: 1.3em;
        }

        .greet {
            font-size: 1em;
        }
        
        .name {
            font-size: 2.2em; font-weight: 700;
            
            span {
                padding: 0 3%;
                background: $red;
                color: #f9f9f9;
                @include border-radius(8px);
            }
        }
        
        .desc {
            font-size: 0.8em; line-height: 1.2em;
            
            b {
                color: $blue; font-weight: 700;
            }
        }
    }
}



/* PROJECTS SECTION */


#projects {
    
    // category buttons
    > button {
        display: inline-block;
        margin: 10px 10px 0 0; padding: 0;
        overflow: hidden;
        @include border-radius(30px);
        
        span {
            display: inline-block; position: relative;
            padding: 1em 2.2em 1em 1em;
            background: #ddf0ff;
            color: $blue;
            @include border-radius(30px);
            @include transition(transform .1s, background .2s);
            
            &:after,
            &:before {
                content: '';
                position: absolute; top: 50%; right: 1em; z-index: 2;
                width: .6em; height: .15em;
                background: currentColor;
                @include border-radius(4px);
            }

            &:after {@include transform(translate(0,-50%) rotate(45deg));}
            &:before {@include transform(translate(0,-50%) rotate(-45deg));}
        }
        
        &:hover span {
            background: #d1eaff;
        }
        
        &:active span {
            @include transform(scale(.9));
        }
        
        &.inactive span {
            padding: 1em;
            background: #f4f4f4;
            color: $lightgray;
            
            &:after,
            &:before {
                display: none;
            }
        }
    }
}

// message if no projects are selected
.no-projects-selected {
    color: $lightgray;
    
    .project:not(.hidden) ~ & {
        display: none;
    }
}

// project cards
.project {
    display: inline-block; position: relative; z-index: 2;
    overflow: hidden;
    background-position: top center;
    @include border-radius(5px);
    @include background-size(cover);
    @include box-shadow(
        0 1px 1px rgba(0,0,0,.1),
        0 2px 2px rgba(0,0,0,.1),
        0 4px 4px rgba(0,0,0,.1),
        0 8px 8px rgba(0,0,0,.1),
        0 16px 16px rgba(0,0,0,.1)
    );
    @include transition(all 0s, transform .3s);
    
    &.hidden {
        position: absolute;
        width: 0; height: 0;
        visibility: hidden;
        @include transform(scale(0));
        @include transition-property(none);
    }
    
    
    
    /* PROJECT CARDS */
    
    // long rectangle card
    @mixin card-long($parts) {
        $size: 96% / $parts;
        width: $size; margin: 4% / ($parts * 2); padding: 0 0 ($size * 0.65) 0;
    }
    
    // almost square card
    @mixin card-normal($parts) {
        $size: 96% / $parts;
        width: $size; margin: 4% / ($parts * 2); padding: 0 0 ($size * 0.8) 0;
    }
    
    // 3 cards beside each other
    @include card-normal(3);
    
    // 2 cards beside each other
    @media (max-width: 1200px) {
        @include card-long(2);
    }
    
    // all cards below one another
    @media (max-width: 650px) {
        width: 100%; margin: 1% 0; padding: 0 0 60% 0;
    }
    @include ON_PHONE {
        padding: 0 0 80% 0;
    }
    
    // background images
    &.time-visualizer   {background-image: url(../img/project-time-visualizer.png);}
    &.tensquared        {background-image: url(../img/project-tensquared.jpg);}
    &.raytracer         {background-image: url(../img/project-raytracer.png);}
    
    > * {
        position: absolute;
    }
    
    .desc {
        position: absolute; top: -1%; left: -1%;
        width: 102%; height: 102%;
        @include opacity(0);
        @include transform(scale(1.2));
        @include transition(.3s .12s);
        
        @include ON_REDUCED_MOTION {
            @include transition-property(none !important);
        }
        
        &:before {
            content: '';
            position: absolute; top: 0; left: 0; z-index: -1;
            width: 100%; height: 100%;
            background: rgba(0,0,0,.92);
            @include opacity(.9);
        }
        
        .center {
            display: inline-block; position: absolute; top: 50%; left: 0;
            width: 100%; padding: 34px;
            @include transform(translate(0, -50%));
            
            @include ON_DESKTOP {
                padding: 60px;
            }
            
            h3, p {
                text-shadow: 1px 1px rgba(0,0,0,.2);
                color: white;
            }
    
            h3 {
                display: inline-block;
                margin: 0;
                font-size: 26px; line-height: 1.2em; font-weight: 700;
                @include text-wrap;
            }

            p {
                margin: 4px 0 10px 0;
            }
            
            a {
                display: inline-block;
                width: 28px; height: 28px; margin: 5px 10px 0 0; padding: 8px;
                text-decoration: none;
                @include transition(.2s);
                
                background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCBtZWV0IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICAgIDxnIGZpbGw9Im5vbmUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iOCI+DQogICAgICAgIDxwb2x5bGluZSBwb2ludHM9IjY0LDIwIDQsMjAgNCw5NiA3OCw5NiA3OCwzNiIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgLz4NCiAgICAgICAgPHBvbHlsaW5lIHBvaW50cz0iNjAsNCA5Niw0IDk2LDQwIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiAvPg0KICAgICAgICA8cG9seWxpbmUgcG9pbnRzPSI5Niw0IDM2LDY0IiAvPg0KICAgIDwvZz4NCjwvc3ZnPg==);
                
                &[title~="GitHub"] {
                    @extend %icon-github-white;
                }
                
                &:hover {
                    @include opacity(.7);
                }
            }
        }
    }
    
    @media (max-width: 300px) {
        .desc .center {
            padding: 18px;
        }
    }
    
    &:hover {
        
        .desc {
            @include opacity(1);
            @include transform(scale(1));
            @include transition(.3s);
        }
    }
}



/* TECHNOLOGIES SECTION */

#technologies {
    
    .container {
        padding: 20px;
        background: white; overflow: hidden;
        @include border-radius(5px);
        @include box-shadow(
            0 1px 1px rgba(0,0,0,.03),
            0 2px 2px rgba(0,0,0,.03),
            0 4px 4px rgba(0,0,0,.03),
            0 8px 8px rgba(0,0,0,.03),
            0 16px 16px rgba(0,0,0,.03)
        );
    
        ul {
            display: block;
            margin: 0; padding: 0;
            font-size: 0;
            
            &:nth-child(2), 
            &:nth-child(4) {
                background-color: rgba(0,0,0,.03);
            }
        }
        
        li {
            list-style: none;
            display: inline-block; position: relative;
            width: 25%; padding: 40px 0;
            text-align: center;
            
            @include ON_MOBILE {
                width: 50%;
            }
            
            > span {
                display: block;
                font-size: 24px; color: #575757;
            }
            
            .desc {
                position: absolute; top: 50%; left: 50%; z-index: 1;
                width: 200px; height: 200px;
                background: rgba(0,0,0,.85);
                color: white; text-align: left;
                @include opacity(0);
                @include border-radius(5px);
                @include transform(translate(-50%, -45%) scale(1.07));
                @include transition(.1s);
        
                @include ON_REDUCED_MOTION {
                    @include transition-property(none !important);
                }
                
                p {
                    position: absolute; top: 50%; left: 50%; z-index: 2;
                    width: 80%; margin: 0;
                    font-size: 15px; line-height: 1.3em;
                    @include transform(translate(-50%, -50%));
                    
                    span {
                        display: block;
                    }
                }
                
                a {
                    display: inline-block;
                    margin: 7px 0 0 0;
                    color: white; font-size: 14px; text-decoration: none;
                    
                    &:hover {
                        color: #cecece;
                        @include transition(.2s);
                    }
                }
            }
            
            &:hover .desc {
                z-index: 2;
                @include opacity(1);
                @include transform(translate(-50%,-50%));
            }
            
            &:before {
                content: '';
                display: inline-block;
                width: 80px; height: 80px; margin: 0 auto 10px auto;
                background-repeat: no-repeat;
                @include background-size(100% 100%);
            }
            
            @include ON_PHONE {
                padding: 20px 0;
                
                > span {
                    font-size: 18px;
                }
                
                .desc {
                    display: none;
                }
                
                &:before {
                    width: 60px; height: 60px;
                }
            }
            
            @media (max-width: 350px) {
                padding: 10px 0;
                
                > span {
                    font-size: 16px;
                }
                
                .desc {
                    display: none;
                }
                
                &:before {
                    width: 44px; height: 44px;
                }
            }
            
            &.html:before      {@extend %icon-html;}
            &.css:before       {@extend %icon-css;}
            &.svg:before       {@extend %icon-svg;}
            &.js:before        {@extend %icon-js;}
                
            &.php:before       {@extend %icon-php;}
            
            &.java:before      {@extend %icon-java;}
            &.csharp:before    {@extend %icon-csharp;}
            &.cpp:before       {@extend %icon-cpp;}
            
            &.camtasia:before  {@extend %icon-camtasia;}
            &.gimp:before      {@extend %icon-gimp;}
            &.github:before    {@extend %icon-github;}
            &.unity:before     {@extend %icon-unity;}
        }
    }
}



/* CONTACT SECTION */

#contact {
    
    .mail {
        border: .1em solid currentColor;
        color: $blue;
        
        &:hover {
            color: $red;
        }
        
        &:after {
            content: '\2192';
            display: inline-block;
            margin: 0 0 0 10px;
            @include transition(.2s);
        }
    }
    
    .socialmedia {
        margin: 10px 10px 0 0;
        background: rgba(0,0,0,.05);
        color: #525252;
        
        &:hover {
            background: rgba(0,0,0,.1);
        }
        
        &:before {
            content: '';
            display: inline-block;
            width: .9em; height: .9em; margin: 0 .8em 0 0;
            @include opacity(.8);
        }
        
        &.github:before {@extend %icon-github;}
        &.twitter:before {@extend %icon-twitter;}
    }
}