/* GENERIC */

main {
    text-align: center;
    
    // blur, if mobile navigation is opened
    .mobile-nav-open & {
        
        @include ON_MOBILE {
            @include filter(blur(3px));
        }
    }
}

section {
    max-width: $max-width; width: 100%; margin: 0 auto; padding: 0 20px;
    text-align: left;
    
    &.content-section {
        padding: 90px 20px;
    }
    
    
    
    // fade in animations on page load
    &#about {
        .greet {
            @include animation(fade-in-from-top 1s .5s, invisible .5s);
        }
        .name {
            @include animation(fade-in-from-top 1.2s 1s, invisible 1s);
        }
        .desc {
            @include animation(fade-in-from-top 1.4s 1.5s, invisible 1.5s);
        }
        
    }
    
    // fade in animations when scrolling down
    .jsOn & {
        
        &#projects, 
        &#technologies, 
        &#contact {
            @include animation(invisible 1s infinite);

            &.appear {
                 @include animation(fade-in-from-top 1s);
            }
        } 
    }
        
    @include ON_REDUCED_MOTION {
        &#about *,
        &#projects, 
        &#technologies, 
        &#contact {
            @include animation(none !important);
        }
    }
}



/* INTRO / ABOUT SECTION */

#about {
    
    // apply flex column to fix the div not centering in IE, since no height is set
    // https://stackoverflow.com/a/33222765
    @include display(flex);
    @include flex-direction(column);
    
    .flex {
        position: relative;
        max-width: none; width: auto; min-height: 100vh; padding: 100px 0 30px 0;
        
        // center element using flex-box
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
    }
    
    .center {
        display: inline-block;
        font-size: 100px; font-size: 7.5vw;
    
        @media (min-width: 1531px) {
            font-size: 115px;
        }
        
        > * {
            display: inline-block;
            line-height: 1.3em;
        }

        .greet {
            font-size: 1em;
        }
        
        .name {
            font-size: 2.2em; font-weight: 700;
            
            span {
                padding: 0 3%;
                background: $red;
                color: #f9f9f9;
                @include border-radius(5px);
            }
        }
        
        .desc {
            font-size: 0.8em; line-height: 1.2em;
            
            b {
                color: $blue; font-weight: 700;
            }
        }
    }
}



/* PROJECTS SECTION */


#projects {
    
    #project-switch-logic-btn {
        margin: 10px 10px 0 0; padding: 0;
        
        i {
            display: inline-block;
            padding: 1em;
            background: #def6f7;
            color: #2e7889; font-style: normal;
            @include border-radius(30px);
            @include transition(transform .1s, background .2s);
        }
            
        &:focus i,
        &:hover i {
            background: #beebed;
        }
        
        &[logic='AND'] span:not(.and),
        &[logic='OR'] span:not(.or) {display: none;}
        
        &:active i {
            @include transform(scale(.9));
        }
    }
    
    // category buttons
    .project-select-btn {
        display: inline-block;
        margin: 10px 10px 0 0; padding: 0;
        overflow: hidden;
        @include user-select(none);
        @include border-radius(30px);
        
        span {
            display: inline-block; position: relative;
            padding: 1em 2.2em 1em 1em;
            background: #ddf0ff;
            color: $blue;
            @include border-radius(30px);
            @include transition(transform .1s, background .2s);
            
            &:after,
            &:before {
                content: '';
                position: absolute; top: 50%; right: 1em; z-index: 2;
                width: .65em; height: .15em;
                background: currentColor;
                @include border-radius(5px);
            }

            &:after {@include transform(translate(0,-50%) rotate(45deg));}
            &:before {@include transform(translate(0,-50%) rotate(-45deg));}
        }
        
        &:focus,
        &:hover {
            
            span {
                background: #c7e5ff;
            }
        }
        
        &:active span {
            @include transform(scale(.9));
        }
        
        &.inactive {
            
            span {
                padding: 1em;
                background: #f4f4f4;
                color: $lightgray;

                &:after,
                &:before {
                    display: none;
                }
            }
        
            &:focus,
            &:hover {

                span {
                    background: #eaeaea;
                }
            }
        }
    }
}

// message if no projects are selected
.no-projects-selected {
    color: $lightgray;
    
    .project:not(.hidden) ~ & {
        display: none;
    }
}

// project cards
.project {
    display: inline-block; position: relative;
    @include transition(.2s);
    
    // 3 cards beside each other
    width: 32%; margin: 1% 0.5%;
    
    // 2 cards beside each other
    @media (max-width: 1200px) {
        width: 48%; margin: 2% 0;
        &:nth-child(even)   {margin-right: 4%;}
        &:nth-child(odd)    {margin-right: 0;}
    }
    
    // all cards below one another
    @media (max-width: 650px) {
        width: 100%; margin: 4% 0;
        &:nth-child(even)   {margin-right: 0;}
        &:nth-child(odd)    {margin-right: 0;}
    }
    
    &.hidden {
        position: absolute; z-index: 3;
        width: 0; height: 0;
        visibility: hidden;
        @include transform(scale(0));
        @include transition-property(none);
    }
    
    
    
    .top {
        position: relative;
        margin: 0 0 7px 0; padding: 0 76px 0 0;

        h3 {
            margin: 0;
            color: $gray; font-size: 28px; line-height: 32px; font-weight: 700;
            @extend %text-wrap;
        }
            
        @media (max-width: 450px) {
            margin: 0;
            
            h3 {
                font-size: 22px; font-weight: normal;
            }
        }
        
        .links {
            position: absolute; top: -2px; right: 0;
            width: 70px; height: 32px;
            text-align: right;
            
            a {
                display: inline-block;
                width: 32px; height: 32px; margin: 0 0 0 3px;
                background-repeat: no-repeat;
                background-position: center;
                text-decoration: none;
                @include opacity(.45);
                @include transition(.2s);

                &[title~="GitHub"] {
                    @extend %icon-github;
                    @include background-size(24px 24px);
                }

                &:not([title~="GitHub"]) {
                    right: 32px;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCBtZWV0IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSI4Ij4KICAgICAgICA8cG9seWxpbmUgcG9pbnRzPSI2NCwyMCA0LDIwIDQsOTYgNzgsOTYgNzgsMzYiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIC8+CiAgICAgICAgPHBvbHlsaW5lIHBvaW50cz0iNjAsNCA5Niw0IDk2LDQwIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiAvPgogICAgICAgIDxwb2x5bGluZSBwb2ludHM9Ijk2LDQgMzYsNjQiIC8+CiAgICA8L2c+Cjwvc3ZnPg==);
                    @include background-size(20px 20px);
                }

                &:focus,
                &:hover {
                    @include opacity(.85);
                }
            }
        }
    }
    
    
    
    figure {
        display: inline-block; position: relative; z-index: 2;
        width: 100%; padding: 0 0 60% 0;
        overflow: hidden;
        @include border-radius(5px);
        @include box-shadow(
            0 1px 1px rgba(0,0,0,.1),
            0 2px 2px rgba(0,0,0,.1),
            0 4px 4px rgba(0,0,0,.1),
            0 8px 8px rgba(0,0,0,.1),
            0 16px 16px rgba(0,0,0,.1)
        );
        @include transition(all 0s, transform .3s);
        
        .img {
            position: absolute;
            width: 101%; height: 101%;
            background-repeat: no-repeat;
            background-position: left top;
            @include background-size(cover);
            @extend %translate-center;
        }
        
        figcaption {
            position: absolute; top: -1%; left: -1%; z-index: 4;
            width: 102%; height: 102%;
            background: rgba(0,0,0,.8);
            @include opacity(0);
            @include transition(.3s .1s);

            @include ON_REDUCED_MOTION {
                @include transition-property(none !important);
            }
            
            // center paragraph inside
            span {
                display: inline-block; position: absolute;
                width: 100%; padding: 0 10%;
                text-shadow: 1px 1px rgba(0,0,0,.2);
                font-size: 16px; line-height: 1.5em; color: white;
                @extend %translate-center;
            
                @include ON_DESKTOP {
                    padding: 60px;
                }
    
                @media (max-width: 300px) {
                    padding: 18px;
                }
            }
        }
        
        &:hover figcaption {
            @include opacity(1);
            @include transform(scale(1));
            @include transition(.3s);
        }
    }
}



/* TECHNOLOGIES SECTION */

#technologies {
    
    .container {
        padding: 20px;
        background: white; overflow: hidden;
        @include border-radius(5px);
        @include box-shadow(
            0 1px 1px rgba(0,0,0,.03),
            0 2px 2px rgba(0,0,0,.03),
            0 4px 4px rgba(0,0,0,.03),
            0 8px 8px rgba(0,0,0,.03),
            0 16px 16px rgba(0,0,0,.03)
        );
    
        ul {
            display: block;
            margin: 0; padding: 0.5% 0;
            font-size: 0;
            
            &:nth-child(2), 
            &:nth-child(4) {
                background-color: rgba(0,0,0,.03);
            }
            
            @include ON_PHONE {
                padding: 2.5% 0;
            }
        }
        
        li {
            list-style: none;
            display: inline-block; position: relative;
            width: 25%; padding: 40px 0;
            text-align: center;
            
            > span {
                display: block;
                font-size: 18px; color: #575757;
                @extend %text-wrap;
            }
            
            .desc {
                position: absolute; top: 50%; left: 50%; z-index: 1;
                width: 200px; height: 200px;
                cursor: auto;
                @include opacity(0);
                @include transform(translate(-50%, -45%) scale(1.07));
                @include transition(.1s);
        
                @include ON_REDUCED_MOTION {
                    @include transition-property(none !important);
                }
                
                p {
                    position: absolute; z-index: 2;
                    width: 90%; margin: 0; padding: 20px;
                    background: rgba(0,0,0,.85);
                    color: white; text-align: left; font-size: 15px; line-height: 1.3em;
                    @include border-radius(5px);
                    @extend %translate-center;
                    
                    span {
                        display: block;
                    }
                }
            }
            
            .desc:focus,
            &:hover .desc {
                z-index: 2;
                @include opacity(1);
                @extend %translate-center;
            }
            
            &:before {
                content: '';
                display: inline-block;
                width: 80px; height: 80px; margin: 0 auto 10px auto;
                background-repeat: no-repeat;
                @include background-size(100% 100%);
            }
            
            @include ON_MOBILE {
                padding: 20px;
                
                > span {
                    font-size: 16px;
                }
                
                .desc {
                    display: none;
                }
                
                &:before {
                    width: 50px; height: 50px; margin-bottom: 5px;
                }
            }
            
            @include ON_PHONE {
                padding: 10px;
                
                > span {
                    font-size: 14px;
                }
                
                &:before {
                    width: 40px; height: 40px;
                }
            }
            
            @media (max-width: 450px) {
                width: 50%;
            }
            
            &.html:before      {@extend %icon-html;}
            &.css:before       {@extend %icon-css;}
            &.svg:before       {@extend %icon-svg;}
            &.js:before        {@extend %icon-js;}
                
            &.php:before       {@extend %icon-php;}
            
            &.java:before      {@extend %icon-java;}
            &.csharp:before    {@extend %icon-csharp;}
            &.cpp:before       {@extend %icon-cpp;}
            
            &.camtasia:before  {@extend %icon-camtasia;}
            &.gimp:before      {@extend %icon-gimp;}
            &.github:before    {@extend %icon-github;}
            &.unity:before     {@extend %icon-unity;}
        }
    }
}



/* CONTACT SECTION */

#contact {
    
    .mail {
        border: .1em solid currentColor;
        color: $blue;
        @include user-select(none);
        
        &:focus,
        &:hover {
            color: $red;
        }
    }
    
    .socialmedia {
        margin: 10px 10px 0 0;
        background: rgba(0,0,0,.05);
        color: #525252;
        @include user-select(none);
        
        &:focus,
        &:hover {
            background: rgba(0,0,0,.15);
        }
        
        &:before {
            content: '';
            display: inline-block;
            width: .9em; height: .9em; margin: 0 .8em 0 0;
            @include opacity(.8);
            @include transform(translate(0,.05em));
        }
        
        &.github:before     {@extend %icon-github;}
        &.twitter:before    {@extend %icon-twitter;}
    }
}



/* FOOTER */

footer {
    margin: 100px 0 0 0;
    background: $red;
    text-align: center;
    
    #to-top {
        position: relative;
        width: 100%; height: 120px;
        @include transition(.2s);

        b {
            display: block; position: absolute; z-index: 2;
            width: 40px; height: 40px;
            @extend %translate-center;
            @include transition(.2s);
        }

        i {
            position: absolute; top: 30%; left: 42.5%; z-index: 1;
            width: 15%;
            background-color: white;
            @include border-radius(5px);

            &.head1, &.head2 {
                height: 60%;
                @include transform-origin(top center);
                @include transition(.2s);
            }

            &.head1 {@include transform(rotate(-45deg) translate(0,-8%));}
            &.head2 {@include transform(rotate(45deg) translate(0,-8%));}
        }

        &:hover {

            b {
                top: 50%;
            }

            i {
                &.head1 {@include transform(rotate(-36deg) translate(0,-10%));}
                &.head2 {@include transform(rotate(36deg) translate(0,-10%));}
            }
        }
    }
    
    .content {
        display: inline-block;
        max-width: 100%; padding: 30px;
        color: rgba(255,255,255,.7); font-size: 14px;
    }
}